#donnee-meteo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title-dm {
    padding: 5px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    display: flex;

}

#title-dm > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#accueil-link {
    cursor: pointer;
    height: 100%;
    width: 100px;
    padding-left: 5px;
}

#accueil-link:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

#info-ville-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    font-size: 18px;
}