#header-content {
    padding-left: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
    font-size: 25px;
    font-weight: 700;
}